@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: NunitoBold;
    font-weight: 800;
    font-display: swap;
    src: local('Nunito Sans'), url('../../public/fonts/NunitoSans-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: NunitoRegular;
    font-weight: 600;
    font-display: swap;
    src: local('Nunito Sans'), url('../../public/fonts/NunitoSans-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: NunitoLight;
    font-weight: 300;
    font-display: swap;
    src: local('Nunito Sans'), url('../../public/fonts/NunitoSans-Light.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/
